@{
    ViewBag.Title = "Home Page";
}

<div id="page-wrapper" ng-class="{'open': home.toggle}" lang="fr" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="home.toggleSidebar()">
                    Dashboard
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a href="#/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-6">
                <a href="https://github.com/lakitrid/DomoSi" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-6">
                <a href="https://github.com/lakitrid/DomoSi/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            Home / Dashboard
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->
            <div>
                <div class="row alerts-container" data-ng-controller="AlertController" data-ng-show="alert.alerts.length">
                    <div class="col-xs-12">
                        <alert data-ng-repeat="alertToDisp in alert.alerts" type="{{alertToDisp.type}}" close="alert.closeAlert($index)">{{alertToDisp.msg}}</alert>
                    </div>
                </div>
                <div ng-view></div>
            </div>
        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->