<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-moon-o"></i>
                </div>
                <div class="title">{{dashboard.stats.Current.LowHours | number:0}}</div>
                <div class="comment">Index heure creuse</div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <rd-widget>
            <rd-widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-sun-o"></i>
                </div>
                <div class="title">{{dashboard.stats.Current.PeekHours | number:0}}</div>
                <div class="comment">Index Heure pleine</div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
<div class="row">
    
</div>
<div class="row">
</div>